@import "../../styles/variables";

.articlesContainer {
  padding: 1.5em 8em;
  background: $veryLightGray;

  .title {
    color: $darkBlue;
    font-weight: $weight400;
    margin: 0 0 1em 0;
  }

  .articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
    list-style: none;
    margin: 0.5em 0;
    padding: 0 0 1em 0;
    width: 100%;

    .article {
      flex: 25%;
      flex-basis: 200px;
      background: $white;
      text-align: left;
      margin-top: 1em;
      margin-bottom: 1em;
      font-weight: $weight300;

      .articleDetails {
        padding: 0.5em 1.5em 0.25em;
        font-size: 1rem;

        .articleTitle {
          cursor: pointer;
          color: $darkBlue;
          font-size: 1.2rem;
          font-weight: $weight300;
        }

        .articleTitle:hover {
          color: $brightCyan;
        }
      }

      img {
        width: 100%;
        height: 45%;
      }
    }

    .article:not(:last-child) {
      margin-right: 1.5em;
    }
  }
}

@media screen and (max-width: 375px) {
  .articlesContainer {
    padding: 1em 1.5em;
    text-align: center;

    .title {
      margin-top: 1.5em;
      margin-bottom: 0.25em;
    }

    .articleList {
      flex-direction: column;

      .article {
        width: 100%;

        .articleDetails {
          padding: 0.5em 2em;
          font-size: 0.8rem;
          margin-bottom: 1.5em;
          font-weight: $weight400;

          .author {
            margin-bottom: 0;
          }

          .articleTitle {
            cursor: pointer;
            color: $darkBlue;
            font-size: 1.1rem;
            font-weight: $weight400;
            margin: 0.75em 0;
          }

          .articleTitle:hover {
            color: $brightCyan;
          }
        }

        img {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }

      .article:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}
