@import "../../styles/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 1em 11em 0.75em 11em;
  font-size: 0.9rem;

  .headerLinks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    color: $grayishBlue;

    li {
      cursor: pointer;
      margin: 0 0.75em;
      display: inline-block;
      position: relative;
    }

    li:hover {
      color: $darkBlue;
    }

    li:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      top: 2.25em;
      left: 0;
      color: $darkBlue;
      background: linear-gradient(to right, $limeGreen, $brightCyan);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }

    li:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  .inviteBtn {
    cursor: pointer;
    border: none;
    background: linear-gradient(to right, $limeGreen, $brightCyan);
    border-radius: 3em;
    padding: 0.75em 1.75em;
    color: $white;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding: 1em;

    .headerLinks {
      display: none;
    }

    .inviteBtn {
      display: none;
    }

    .hamburger {
      display: block;
    }
  }
}
