@import "../../styles/variables";

.featureContainer {
  padding: 1em 8em;
  background: $lightGrayishBlue;

  .featureHeader {
    width: 60%;
    font-size: 1rem;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    font-weight: $weight400;

    .title {
      color: $darkBlue;
      font-weight: $weight400;
    }
  }

  .featuresList {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;

    .feature {
      display: flex;
      flex-direction: column;
      flex: 22%;
      margin: 1em;
      font-size: 0.9rem;
      font-weight: $weight400;

      .featureText {
        h2 {
          font-size: 1.4rem;
          color: $darkBlue;
          margin-bottom: 1.5em;
          font-weight: $weight400;
        }

        line-height: 1.5em;
      }

      .icon {
        width: 3em;
        margin: 1.25em 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .featureContainer {
    padding: 0.5em 2.25em;
    text-align: center;
    font-size: 0.75rem;

    .featureHeader {
      width: 100%;
      margin-bottom: 1.5em;

      .title {
        line-height: 1.15em;
      }
    }

    .featuresList {
      flex-direction: column;
      margin-bottom: 2em;

      .feature {
        flex: 100%;
        align-items: center;
        margin: 1em 0;

        .featureText {
          h2 {
            margin-bottom: 1em;
            font-size: 1.25rem;
          }
        }

        .icon {
          width: 5em;
          margin: 0.25em 0;
        }
      }
    }
  }
}
