@import "../../styles/variables";

.footerContainer {
  margin-top: auto;

  .footer {
    padding: 0 10em;
    background: $darkBlue;
    color: $veryLightGray;
    display: flex;
    align-items: center;
    font-size: 1rem;

    .footerIcons {
      margin-right: 7em;

      .logo {
        color: $white;
        filter: invert(100%) sepia(100%) saturate(200%) hue-rotate(71deg)
          brightness(160%) contrast(98%);
      }

      .icons {
        display: flex;
        padding: 0;
        margin: 1.5em 0 0 0;
        list-style: none;

        li {
          cursor: pointer;
          margin: 0 0.375em;
        }
        li:hover {
          filter: invert(30%) sepia(100%) saturate(376%) hue-rotate(71deg)
            brightness(90%) contrast(98%);
        }
      }
    }

    .footerLinks {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      height: 100px;
      list-style: none;
      line-height: 2em;
      padding: 0;
      text-align: left;

      li {
        cursor: pointer;
        margin-right: 5em;
      }

      li:hover {
        color: $limeGreen;
      }
    }

    .inviteBtn {
      cursor: pointer;
      border: none;
      background: linear-gradient(to right, $limeGreen, $brightCyan);
      border-radius: 3em;
      padding: 0.75em 1.75em;
      color: $white;
    }

    .btnComponent {
      flex: 1;
      text-align: right;
      padding: 1em 0;

      .copyright {
        color: $grayishBlue;
        margin-top: 1.5em;
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .footerContainer {
    .footer {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 1.5em 2em;
      font-size: 0.9rem;

      .footerIcons {
        margin: 0;
        width: 100%;

        .logo {
          justify-content: center;
          margin-top: 1.5em;
        }

        .icons {
          justify-content: center;
          margin-bottom: 1em;

          li {
            cursor: pointer;
            margin: 0 0.75em;
          }
        }
      }

      .footerLinks {
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;

        li {
          margin-right: 0;
        }
      }

      .btnComponent {
        text-align: center;
        margin-bottom: 1em;
      }
    }
  }
}
