@import "./styles/variables";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: $fontFamily;
  font-size: $size;

  .test {
    background: black;
    flex: 1;
  }
}

.App > * {
  padding: 0 4em;
}
